.container {
  margin-top: 0.75rem;
  box-shadow: 0 0 10px #bdbdbd;
  background-color: #fff;
  color: black;
  padding: 1.25rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}

.bookDetails {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.bookName {
  font-weight: bold;
  font-size: 1.25rem;
  color: #383838;
}

.authorName {
  font-style: italic;
  color: #5d5d5d;
}

.shippingCharges {
  font-size: 0.85rem;
  color: #5d5d5d;
}

.removeButton {
  position: absolute;
  bottom: 8%;
  right: 4%;
  padding: 6px 13px;
  background-color: #df0000;
  border-radius: 3px;
  border: 1px solid #7b0000;
  color: white;
  font-size: 0.9rem;
  font-weight: bold;
  cursor: pointer;
}

.removeButton:active {
  background-color: #7b0000;
}

@media (max-width: 850px) {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0.5rem;
  }
  .bookDetails {
    width: 80%;
    margin-bottom: 1rem;
  }
  .bookIcon {
    margin: 1rem 0;
  }
}
