.shadowBack {
  position: fixed;
  margin-top: -100px;
  height: 1100px;
  width: 100%;
  background-color: rgb(153, 153, 153);
  opacity: 0.4;
  z-index: 10;
}

.window {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 300px;
  width: 50%;
  font-size: 1.1rem;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(67, 67, 67);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 11;
}

.confirmInput {
  padding: 5px;
  border: 1px solid black;
  border-radius: 2px;
  text-align: center;
  font-weight: bold;
  margin-top: 1rem;
}

.deleteButton {
  padding: 15px 25px;
  background-color: #ff6a00;
  border: 1px solid #770000;
  border-radius: 5px;
  color: white;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  margin-top: 1.5rem;
}
.deleteButton:active {
  background-color: #ee3312;
}

.wrongConfirm {
  color: red;
  font-size: 1rem;
  font-weight: bold;
}
